body {
    font-family: Arial, sans-serif;
    background-color: #F2E8CF;
    color: #386641;
    line-height: 1.6;
    padding: 20px;
}
header, footer {
    background-color: #386641;
    color: #F2E8CF;;
    padding: 20px;
    text-align: center;
}
header h1 {
    color: #FEFAE0;
}
main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #A7C957;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1, h2 {
    margin-bottom: 15px;
    color: #6A994E;
}
p {
    margin-bottom: 20px;
}
ul {
    margin-bottom: 10px;
    padding-left: 20px;
}
img {
    display: block;
    margin: 0 auto;
    width: 50vw;
}
a:link {
    color: #606C38;
    text-decoration: none;
}
a:visited {
    color: #283618;
}
a:hover {
    color: #DDA15E;
    text-decoration: underline;
}
a:active {
    color: #BC6C25;
}
a:focus {
    outline: 2px dashed #FEFAE0;
    outline-offset: 2px;
}