body {
    font-family: Arial, sans-serif;
    background-color: #F2E8CF;
    color: #386641;
    line-height: 1.6;
    padding: 20px;
}
header, footer {
    background-color: #386641;
    color: #F2E8CF;;
    padding: 20px;
    text-align: center;
}
header h1 {
    color: #FEFAE0;
}
main {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #A7C957;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
h1, h2 {
    margin-bottom: 15px;
    color: #6A994E;
}
p {
    margin-bottom: 20px;
}
ul {
    margin-bottom: 10px;
    padding-left: 20px;
}
img {
  max-width: 500px; 
  transform: rotate(-90deg); 
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
/* unvisited link */
a:link {
  color: rgb(17, 124, 14);
}

/* visited link */
a:visited {
  color: rgba(255, 79, 25, 0.832);
}

/* mouse over link */
a:hover {
  color: rgb(66, 11, 185);
}

/* selected link */
a:active {
  color: rgb(17, 17, 142);
}